@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    color: white;

}

body{
    display: flex;
    align-items: center;
    background: black;
    justify-content: center;
    min-height: 100vh;
    
}

.container{
    width: 89vmin;
    height: 80vmin;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 5px 80px rgba(51, 255, 3, 0.2);
}

.details{
    color: #b8c6dc;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.board{
    height: 100%;
    width: 100%;
    display: grid;
    background: #000000;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.board .food{
    background: red;
}

.board .head{
    background: green;
    
}



@media screen and (max-width: 800px) {
    .container{
        width: 90vmin;
        height: 115vmin;
    }

    .details{
        font-size: 1rem;
        padding: 15px 27px;
    }

}